/* header and Nav and Mode */
header {
    background-color: #104210;
    color: #F2E437;
    font-family: "Agbalumo", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

header img {
    width: 130px;
    margin: 0 30px;
    /* box-shadow: 0px 1px 20px 4px white; */
    border-radius: 15px;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.57rem;
    cursor: pointer;
}

/* small view navigation */
/* change this color */
nav a:hover {
    background-color: #D3C02F;
    color: #104210;
}

#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 5.6rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #104210;
    color: #D3C02F;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #D3C02F;
}

.navigation li a:hover {
    background-color: #D3C02F;
    color: #104210;
}


/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active::before {
    content: "📍 ";
}

/* Join Now */
#join-now {
    background-color: white;
    color: #F2E437;
    padding: 5px;
}

/* footer */
footer {
    background-color: #104210;
    color: #F2E437;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}

footer img {
    width: 80px;
    margin: 0 20px;
    /* box-shadow: 0px 1px 20px 4px white; */
    border-radius: 10px;
}

.contact {
    display: inline;
    padding: 2px;
}

/* Discover css */
.label {
    position: absolute;
    transform: translateX(-50%);
    background: radial-gradient(#fff, #104210);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

.label p {
    white-space: nowrap;
    margin: 0;
    text-align: center;
    padding: .25rem;
    font-weight: 700;
    font-size: 2rem;
    min-width: 165px;
}

.photos-container img {
    width: 100%;
    background: #000;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    text-align: center;
}
