:root {
    --border: 3px solid #104210;
    --color: #104210;
    --fontsize: 1rem;
}

body {
    margin: 0 auto;
}

/* --------------------------- Banner --------------------- */

#banner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 5rem 1rem 2rem 1rem;
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    height: 20%;
    background-color: var(--color);
    opacity: 0.98;
    z-index: 1;
}

#close-banner::before {
    content: "❌";
}

#close-banner {
    margin: 1rem;
    border: none;
    font-size: 3rem;
    font-weight: bold;
    background-color: var(--color);
}

#close-banner:hover {
    cursor: pointer;
}

#banner p {
    margin: .25rem 0;
    border-radius: 10px;
    padding: .5rem 1rem;
    color: var(--color);
    font-size: 1.5rem;
    background-color: #D3C02F;
}


/* -------- header and Nav and Mode ----------*/
header {
    background-color: #104210;
    color: #F2E437;
    font-family: "Agbalumo", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

header img {
    width: 130px;
    margin: 0 30px;
    /* box-shadow: 0px 1px 20px 4px white; */
    border-radius: 15px;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.57rem;
    cursor: pointer;
}

/* small view navigation */
/* change this color */
nav a:hover {
    background-color: #D3C02F;
    color: #104210;
}

#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 5.6rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #104210;
    color: #D3C02F;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #D3C02F;
}

.navigation li a:hover {
    background-color: #D3C02F;
    color: #104210;
}


/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active::before {
    content: "📍 ";
}

/* Join Now */
#join-now {
    background-color: #104210;
    color: #F2E437;
    padding: 5px;
}

/* hero */


/* footer */
footer {
    background-color: #104210;
    color: #F2E437;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}

footer img {
    width: 80px;
    margin: 0 20px;
    /* box-shadow: 0px 1px 20px 4px white; */
    border-radius: 10px;
}

.contact {
    display: inline;
    padding: 2px;
}

/* --------------------------- Home / Main Page -------------------------------*/
/* hero */
.hero {
    position: relative;
    overflow: hidden;
    height: 60vh;
    /* Adjust the height as needed */
}

.hero picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.join {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #F2E437;
    background-color: var(--color);
    /* Use the same color as the banner */
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.join:hover {
    background-color: #D3C02F;
    color: var(--color);
}

/* weather and Upcoming Events */
.weather-card,
.current-events {
    display: flex;
    flex-direction: column;
}

.weather-card h2,
.current-events h2 {
    padding: 1.5rem;
    border-radius: 10px;
    background-color: var(--color);
    color: #F2E437;
}

.events {
    padding-left: 20px;
    background-color: #6A8820;
    border: var(--border);
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #6A8820;
}

.weather h3 {
    text-decoration: underline;
}

#current-temp {
    font-size: 3rem;
    font-weight: bold;
}

#weather-forecast {
    background-color: #6A8820;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: var(--border);
}

/* Spotlight */
.spotlights h2 {
    background-color: var(--color);
    color: #F2E437;
    border-radius: 10px;
    text-align: center;
    padding: 1.5rem;
}

.spotlight-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



/* -------------------------- Discover css ------------------------------- */
.sidebar {
    border: 2px solid #104210;
    background: #6A8820;
    text-align: center;
}

.calendar {
    width: 100%;
    height: auto;
}

.events .attractions .calendar .demographics .localStorage {
    border: 2px solid #104210;
}

.label {
    background: radial-gradient(#fff, #104210);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

.label p {
    white-space: nowrap;
    margin: 0;
    text-align: center;
    padding: .25rem;
    font-weight: 700;
    font-size: 2rem;
    min-width: 165px;
}

.photos-container img {
    width: 100%;
    background: #000;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    text-align: center;
}

/* ------------------- Join --------------------- */

form fieldset {
    margin: 2rem 0rem;
    border: var(--border);
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: var(--color);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: var(--color);
    font-size: var(--fontsize);
}

form label.top input {
    --webkit-appearance: none;
    display: block;
    font-size: var(--fontsize);
    border: var(--border);
    border-radius: 4px;
    padding: .75rem;
    color: var(--color);
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, .1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: var(--color);
}

form label.top input:required {
    border-bottom: red solid 4px;
}

form label.top input:required:valid {
    border-bottom: green solid 4px;
}


form input.submitBtn {
    border: none;
    background-color: var(--color);
    color: #F2E437;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

.membership-level {
    border: var(--border);
    border-radius: 10px;
    margin: .5rem 0;
    padding: 10px;
    font-size: var(--fontsize);
    color: var(--color);
}

.join-main h2 {
    text-align: center;
    color: var(--color);
}

.level h3 {
    text-decoration: underline;
}

/* ------------------------------ Directory Page ---------------------------- */
/* Center the Button */
#directory-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Grid View */
.directory-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.directory-cards section {
    text-align: center;
    border: 2px solid var(--color);
    color: var(--color);
    width: 350px;
    padding: 1rem;
    margin: 1rem;
}

/* List View */
.directory-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
}

.directory-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.directory-list section {
    text-align: center;
    border: 2px solid var(--color);
    color: var(--color);
    width: 350px;
    padding: 1rem;
    margin: 1rem;
}

.directory-list section img {
    display: none;
}

.directory-list section:nth-child(odd) {
    background-color: #6A8820;
    color: black;
}

.directory-list section:nth-child(even) {
    background-color: #F2E437;
    color: black;
}