@media screen and (min-width: 500px) {

    .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }

    footer {
        justify-content: center;
        display: flex;
    }

    /* Discover css */
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .container .sidebar {
        padding: 10px;
        width: 150px;
        height: auto;
        background: pink;
        border-radius: 20px;
    }

    .container .photos-container {
        grid-column: 2/3;
        margin: 0 auto;
        width: 400px;
        display: flex;
        flex-direction: column;
    }


    

}