@media screen and (min-width: 500px) {

    .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }

    footer {
        justify-content: center;
        display: flex;
    }

}