body {
    margin: 0 auto;
    background-color: #F9F4F5;
}

header {
    background-color: #502F4C;
    color: #C8B8DB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

header h1 {
    display: inline;
}

#profile-pic {
    width: 80px;
    height: auto;
    margin: 0 30px;
    border-radius: 10px;
}

/* dark Mode */
#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
    color: #C8B8DB;
}

/* Step 5 Display the navigation links vertically in a single column in the mobile view and horizontally in one row in the larger views.*/
/* small view navigation */

#menu {
    font-size: 1.5rem;
    border: 1px solid #70587C;
    /*  border left out of dark mode */
    padding: 3px 7px 6px;
    background-color: #C8B8DB;
    color: #70587C;
    /* position: relative; */
    position: absolute;
    top: 5.6rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #70587C;
    color: white;
}

.navigation li {
    /* list-style-type: none; */
    display: none;
}

/* both nav li and hover are left out of dark mode */
.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.navigation li a:hover {
    border: 2px solid #502F4C;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active::before {
    content: "📍 ";
}

.stuff {
    /* margin: .5m; */
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #bed;
    max-width: 580px;
    height: 100vh;

}

/* step 6 The main element has a limited width and is centered on the screen horizontally.*/
/*Step 7 Layout the main column cards using CSS Grid. */
main {
    max-width: 770px;
    margin: 0 auto;
    color: #502F4C;
}

/* card let out of dark mode */
.card {
    padding: 10px;
    border: 1px solid #502F4C;
    list-style: none;
}

/* Step 9 Set the style type of the course links list to none (do not display bullets). */
.card ul {
    list-style-type: none;
    text-decoration: none;
    color: #502F4C;
}

section h3 {
    background-color: #502F4C;
    color: #C8B8DB;
    padding: 10px;
    margin-top: 0;
}

footer {
    text-align: center;
    background-color: #502F4C;
    color: #C8B8DB;
}

/* hero */
.hero {
    position: relative;
}

.hero picture {
    width: 100%;
}
.hero img {
    width: 100%;
    height: auto;
}

.herolabel {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: radial-gradient(#fff, #70587C);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

.herolabel p {
    white-space: nowrap;
    margin: 0;
    text-align: center;
    padding: .25rem;
    font-weight: 700;
    font-size: 2rem;
    font-family: "Great Vibes", serif;
    min-width: 165px;
}

main h2 {
    text-align: center;
    margin-bottom: 0;
}

/* iframe */
iframe {
    width: 100%;
    height: auto;
}