@media screen and (min-width: 500px) {

    body {
        position: relative;
        max-width: 960px;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
        margin: 0;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    picture img {
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
        height: auto;
    }

    .herolabel p {
        font-size: clamp(1px, 4vw, 40px);
    }

    .herolabel {
        top: clamp(1px, 4vw, 40px);
    }

    main h2 {
        text-align: left;
    }

    .section-grid {
        display: grid;
        grid-template-columns: 1fr 280px;
        grid-gap: 1.2rem;
    }

    .stuff {
        margin: 1rem auto;
    }

}